.container {
  width: 42px;
  height: 24px;
  border: 1.5px solid var(--primary-color);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
}

.ballLeft {
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  left: 2px;
}

.ballRight {
  width: 15px;
  height: 15px;
  background-color: var(--primary-color);
  border-radius: 50%;
  position: absolute;
  right: 2px;
}
