.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 0 auto;
}

.title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-md);
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  width: 100%;
  color: var(--secondary-color);
  padding: 20px;
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  outline: none;
  font-size: var(--fs-md);
  font-weight: var(--fw-md);
}

.input::placeholder {
  text-transform: uppercase;
}

.link {
  transition: var(--transition);
}

.link:hover {
  color: var(--primary-color);
  transform: scale(1.05);
}